<%= javascript_pack_tag 'react_room', 'data-turbolinks-track': 'reload' %>
<h1><%= @room.name %></h1>

<%= form_tag "/tickets", method: :post do %>
  <%= label_tag :title, "Ticket identifier" %>
  <%= text_field_tag :title %>
  <%= hidden_field_tag :room_id, @room.id %>
  <%= submit_tag "Create new ticket" %>
<% end %>

<div id="react-render-target"></div>
